<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="DeleteProduct_MySqlCmd">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Products
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCountByCategoryId_MySqlCmd">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[select count(*)
from   Products as p
where CategoryID = @CategoryID]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductByCategoryId_MySqlCmd">
        <Parameters>
            <Parameter Name="@CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
from   Products as p
where CategoryID = @CategoryID
limit 0, 3]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductById_MySqlCmd">
        <Parameters>
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from Products where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertProduct_MySqlCmd">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
        </Parameters>
        <CommandText><![CDATA[insert into Products (ProductName, CategoryID, Unit, UnitPrice, Quantity, Remark) 
values( @ProductName, @CategoryID, @Unit, @UnitPrice, @Quantity, @Remark);

select last_insert_id();]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateProduct_MySqlCmd">
        <Parameters>
            <Parameter Name="@ProductName" Type="String" Size="50" />
            <Parameter Name="@CategoryID" Type="Int32" />
            <Parameter Name="@Unit" Type="String" Size="10" />
            <Parameter Name="@UnitPrice" Type="Currency" />
            <Parameter Name="@Quantity" Type="Int32" />
            <Parameter Name="@Remark" Type="String" Size="-1" />
            <Parameter Name="@ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Products 
set ProductName = @ProductName, 
    CategoryID = @CategoryID, 
    Unit = @Unit, 
    UnitPrice = @UnitPrice, 
    Quantity = @Quantity, 
    Remark = @Remark 
where ProductID = @ProductID;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>