<?xml version="1.0" encoding="utf-8"?>
<ArrayOfXmlCommand xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <XmlCommand Name="DeleteProduct_Access">
        <Parameters>
            <Parameter Name="ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
delete from Products
where ProductID = ?;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetCountByCategoryId_Access">
        <Parameters>
            <Parameter Name="CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[select count(*)
from   Products as p
where CategoryID = ?]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductByCategoryId_Access">
        <Parameters>
            <Parameter Name="CategoryID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select top 3 p.ProductID, p.ProductName, p.CategoryID, p.Unit, p.UnitPrice, p.Quantity
from   Products as p
where CategoryID = ?;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="GetProductById_Access">
        <Parameters>
            <Parameter Name="ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
select * from Products where ProductID = ?;
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="InsertProduct_Access">
        <Parameters>
            <Parameter Name="ProductName" Type="String" Size="50" />
            <Parameter Name="CategoryID" Type="Int32" />
            <Parameter Name="Unit" Type="String" Size="10" />
            <Parameter Name="UnitPrice" Type="Currency" />
            <Parameter Name="Quantity" Type="Int32" />
            <Parameter Name="Remark" Type="String" Size="-1" />
        </Parameters>
        <CommandText><![CDATA[insert into Products (ProductName, CategoryID, Unit, UnitPrice, Quantity, Remark) 
values( ?, ?, ?, ?, ?, ?);
]]></CommandText>
    </XmlCommand>
    <XmlCommand Name="UpdateProduct_Access">
        <Parameters>
            <Parameter Name="ProductName" Type="String" Size="50" />
            <Parameter Name="CategoryID" Type="Int32" />
            <Parameter Name="Unit" Type="String" Size="10" />
            <Parameter Name="UnitPrice" Type="Currency" />
            <Parameter Name="Quantity" Type="Int32" />
            <Parameter Name="Remark" Type="String" Size="-1" />
            <Parameter Name="ProductID" Type="Int32" />
        </Parameters>
        <CommandText><![CDATA[
update Products 
set ProductName = ?, 
    CategoryID = ?, 
    Unit = ?, 
    UnitPrice = ?, 
    Quantity = ?, 
    Remark = ? 
where ProductID = ?;
]]></CommandText>
    </XmlCommand>
</ArrayOfXmlCommand>